---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=hhp47b5bvjda7pj44gsauf78&format=json&pageSize=10&show=city,longName,distance,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "currentPage": 1,
          "total": 16,
          "totalPages": 2,
          "queryTime": "0.009",
          "totalTime": "0.027",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=city,longName,distance,phone,storeType&pageSize=10&format=json&apiKey=hhp47b5bvjda7pj44gsauf78",
          "stores": [
            {
              "city": "DENVER",
              "longName": "BEST BUY MOBILE - CHERRY CREEK SHOPPING CENTER",
              "distance": 3.45,
              "phone": "303-270-9189",
              "storeType": "Mobile SAS"
            },
            {
              "city": "LAKEWOOD",
              "longName": "BEST BUY - BELMAR",
              "distance": 5.31,
              "phone": "303-742-8039",
              "storeType": "Big Box"
            },
            {
              "city": "DENVER",
              "longName": "BEST BUY - COLORADO BLVD",
              "distance": 5.59,
              "phone": "303-758-5805",
              "storeType": "Big Box"
            },
            {
              "c[...]
[...]
